body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
div, body, header, nav, ul, footer{
    box-sizing: border-box;
}
.main-wrapper, header, footer{
    width: 100%;
}
.header{
    background-color: #252424;
}
.main-navbar ul {
    display: flex;
    padding: 0;
    justify-content: center;
}
.main-navbar li {
    list-style: none;
    margin: 10px;
}
.main-navbar a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}
a:hover{
    background-color: #c64e4e;
    color: #252424;
    border-radius: 100px;
}
/*-------------------------------------------------------------------------------------------*/

/* Main section */
aside, main{
    padding: 15px;
    background-color: #fff;
}
h2{
    /*aliniar al centro*/
    text-align: center;
}

.main-wrapper{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
    flex-direction: column;


}
.main-wrapper aside{
    flex-grow: 1;
} 
.secondary-navbar{
    min-width: 200px;
    text-align: center;
}
.secondary-navbar ul{
    padding: 0;
}
.secondary-navbar li{
    list-style: none;
}
.secondary-navbar a{
    color:rgb(8, 27, 150);
    text-decoration: none;
    display: inline-block;
    padding: 15px 10px;
    font-size: 20px;
}



/* FOOTER */
footer{
    /*aliniar al fondo de la pagina*/
    margin-top: auto;
    background-color: #252424;
    color: blue;
    text-align: center;
    padding: 1px;

}

@media screen and (min-width: 800px) {
    .main-wrapper{
        flex-direction: row;

    }
}
@media screen and (min-width: 480px) {
    .aside:last-child{
        display: block;

    }

