body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}
.flexbox{
    display: flex;
    flex-flow: row wrap;
}
.flex-item{
    width: 200px;
    text-align: center;
    background-color: rgb(210, 12, 12);
    margin: 10px;
    color: white;
    font-size: 40px;
}
.flex-item:first-child{
    background-color: rgb(82, 11, 4);
}
.flex-item:last-child{
    background-color: rgb(134, 220, 226);
}



/*
display: flex; --> Las cajas son flexibles, se adaptan al espacio disponible.
flex-direction: row-reverse; --> Las cajas se ordenan de derecha a izquierda.
flex-direction: column; --> Las cajas se ordenan de arriba a abajo.
flex-direction: column-reverse; --> Las cajas se ordenan de abajo a arriba.
flex-wrap: wrap; --> Las cajas se envuelven a la siguiente línea si no hay espacio suficiente.

flex-flow es una propiedad abreviada que combina flex-direction y flex-wrap.

// cuando ocupo padding, las cajas dejan se ser flexibles. 
*/