body{
    margin: 0;
    font-family: sans-serif;
}
h2{
    text-align: center;
}
form{
    background-color: #f2f2f2;
    padding: 20px 0;
}
.form_input{
    padding: 6 px 20 px;
}

input{
    width: 100%;
    border: none;
    padding: 6px 12px;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
}