td, th{
    border: 1px solid #000;
    text-align: center;
    padding: 25px;
    font-family: sans-serif;
}
td{
    color: #602cda;
}
table{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    box-shadow: 10px 10px 30px rgba(12, 11, 11, 0.133);
}
h1{
    text-align: center;
}