body{
    margin: 0;
    font-family: sans-serif;
    color: #000000;
    background-color: #bc8e8e;
}

h2{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}

form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 2px 5px rgba(83, 54, 54, 0.1);
    margin-top: 50px;
    border-radius: 8px;
}

.form_input{
    padding: 6px 20px;
}

input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 1px solid #252323;
    box-shadow: 0px 1px 3px rgba(216, 207, 207, 0.1);
    background-color: transparent;
    border-radius: 4px;
    color: #333;
}

textarea{
    min-width: 100%;
    resize: none;
    min-height: 200px;
    font-family: sans-serif;
    box-sizing: content-box;
}
