body{
    margin: 0;
    font-family: sans-serif;
    color: #e61f1f;
    background-color: #252424;

}

form{
    background-color: transparent;
    padding: 20px 0;
    max-width: 700px;
    max-height: 700px;
    margin: auto;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 16px;
}

h2{
    text-align: center;
    margin: 0;
    font-weight: 100;
    font-size: 1.3em;
    padding: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.form_input{
    padding: 6px 20px;

}

input, textarea, select{
    width: 100%;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #0003;
    background-color: transparent;
    border-radius: 4px;
    padding: 6px 8px;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    color: #ddd;
    margin: 1opx;
}

option{
    background-color: #252424;
}

textarea{
    min-width: 100%;
    resize: none;
    min-height: 102px;
    font-family: sans-serif;

}

a{
    color: #e61f1f;
    text-decoration: none;
}